[sources.docker_logs]
type = "docker_logs"
docker_host = "unix:///var/run/docker.sock"

[transforms.parse_json]
type = "remap"
inputs = ["docker_logs"]
source = '''
  . = parse_json!(.message)
'''

[sinks.opensearch]
type = "elasticsearch"
inputs = ["parse_json"]
endpoints = ["http://opensearch:9200"]
mode = "bulk"
bulk.index = "logs-%Y.%m.%d"
compression = "none"

[sinks.opensearch.encoding]
codec = "json"
