version: '3.8'

services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.91.0
    container_name: otel-collector
    volumes:
      - ./agents/otel/otel-collector-config.yaml:/etc/otelcol-contrib/config.yaml
    ports:
      - "4317:4317"  # OTLP gRPC
      - "4318:4318"  # OTLP HTTP
    depends_on:
      - data-prepper
    networks:
      - opensearch-net

  data-prepper:
    image: opensearchproject/data-prepper:2.6.2
    container_name: data-prepper
    platform: linux/amd64
    volumes:
      - ./agents/otel/pipelines.yaml:/usr/share/data-prepper/pipelines/pipelines.yaml
      - ./agents/otel/data-prepper.yaml:/usr/share/data-prepper/config/data-prepper-config.yaml
    ports:
      - "21890:21890"
      - "21892:21892"
    depends_on:
      - opensearch
    networks:
      - opensearch-net

  demo-app:
    environment:
      - OTEL_ENDPOINT=otel-collector:4318
      - USE_OTEL_SDK=true
    depends_on:
      - otel-collector
